@import '@/scss/_variables.scss';

.sidebar{
	position: fixed;
	top: 56px;
	right: 0;
	width: 100vw;
	height: calc(100vh - 112px) !important;
    z-index: 4500;
    visibility: hidden;

    &.showSidebar{
        visibility: unset;
    }

	.v-overlay{
		height: initial;
	}

	&__content{
		display: flex;
		flex-direction: column;
	}

	.v-list{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}