div(v-if="getCategories")
    VueSlickCarousel(v-bind="slickCarouselSettings" class="categorySlider mt-2")
        CCategorySliderCard(
            v-for="(category, index) in getCategories"
            :key="index"
            :category="category"
        )