@font-face {
	font-family: 'Selima';
	src: url('../assets/fonts/Selima.otf') format('opentype');
}
@font-face {
	font-family: 'BowHouse-Regular';
	src: url('../assets/fonts/bowhouse.regular.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;900&display=swap');