$white: #fff;
$greenMain: #78c2ad;
$redMain: #f3969a;
$redSecondary: #ce0018;
$blueMain: #6cc3d5;
$orangeMain: #ff8c00;
$lilaMain: #9400d3;
$greenCategory: #2e8b57;
$yellowMain: #fdd31d;
$green: #16c79e;


$primaryColor: #A5C882;
$secondary-color: #EF6660;
$orange-color: #FF724C;
$purple-color: #60495A;
$light-blue-color: #5AB1BB;
$yellow-color: #F7DD72;
$yellow-dark-color: #FFC529;

$white: #FFF;
$black: #000;

$text-color: #333;
$subtext-color:  #999;